.sides {
  display: flex;
}
.side {
  width: 50%;
  height: 100vh;
  background-color: rgba(blue, 0.9);
  .player-name {
    color: orange;
    text-align: center;
    margin-top: 20px;
  }
  &.oponent {
    background-color: rgba(orange, 0.9);
    .player-name {
      color: blue;
    }
  }
}

.message {
  font-size: 84px;
  color: red;
  font-weight: 700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  text-shadow: 0px 5px 0px #000;
}
