.sides {
  display: flex;
}
.side {
  width: 50%;
  height: 100vh;
  background-color: rgba(blue, 0.9);
  .player-name {
    color: orange;
    text-align: center;
    margin-top: 20px;
  }
  &.oponent {
    background-color: rgba(orange, 0.9);
    .player-name {
      color: blue;
    }
  }
}
